@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

table, th{
    border: 1px solid blue;
    width: 100vw;
    padding: 10px;

}

.tableHeader{
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: navajowhite;
}

.editForm {
    /* display: none; */
}